
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding:0 15%;
    height: 70vh;
  }
  
  .title {
    font-size: 24px;
    font-weight: 600;
  }
  
  .paragraph {
    display: flex;
    flex-direction: column;
    gap: 25px;
    p{
        text-align: justify;
        &::first-letter{
            padding-left: 1.5rem;
        }
    }
  
  }
  
  @media (max-width: 850px) {
    .container{
  height: 100%;
  margin-bottom: 16vh;
    }
  }