@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100;200;300;400;500;600;700&display=swap');

.container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    width: 100%;
    align-items: center;
    padding: 15px 0px;
    background: linear-gradient(0deg, white, #e3e3e3);
   
}
.container div{
    margin: 0px 15px;
}
.title{
color:#ff6600;
font-weight: 500;
display: flex;
align-items: center;
justify-content: center;
font-size: 2.5rem;
}
.logo{
    width: auto;
    height: 4rem;
    margin: 0px 10px;
}
.navigationEl{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}
.navigationEl span{
    font-size: 1rem;
    font-weight: 600;
}
.navigationEl a:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, .5);
}