@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Montserrat+Alternates:wght@100;200;300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');

*{
  padding: 0;
  margin:0;
  font-family: 'Montserrat Alternates', sans-serif;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f0f0f0;
  height: 100vh;
  gap: 15px;
}

form {
  display: flex;
  flex-direction: column;

  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
}

form div{
 display: flex;
 justify-content: space-between;
 gap: 15px;
 align-items: center;
}

label {
  margin-bottom: 10px;
  font-weight: 600;
}

input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #cc5500;
  margin-bottom: 20px;
}

button[type="submit"] {
  background-color: #ff6600;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #cc5500;
}

a {
  color: #ff6600;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


.test-block {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.test-block h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.test-block p {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
  margin-bottom: 20px;
}

.test-block a {
  display: inline-block;
  background-color: #ff6600;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.test-block a:hover {
  background-color: #cc5500;
}
